body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  line-height: 1.6;
  background-color: #000;
  color: #FFFFFF;
}

section {
  padding: 40px 20px;
}

.faq-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  background-color: #DD9955;
}

.faq-section .faq-item {
  text-align: left;
  max-width: 80%;
  flex: 0 0 75vh;
  margin: 16px;
  padding: 24px 32px;
  border-radius: 16px;
  background-color: #EEAA66;
}

.faq-section .faq-item h2,
.faq-section .faq-item p {
  margin: auto;
}