<footer class="footer">
  <!-- Main Logo -->
  <div class="logo">
    <a href="/"><img src="/shared/logo.png" alt="Logo"></a>
  </div>

  <!-- Social Media Logos -->
  <div class="socials">
    {{#socials}}
      <a href="{{url}}" target="_blank" rel="noopener">
        <img src="{{icon}}" alt="{{name}}" title="{{name}}" class="growing-button">
      </a>
    {{/socials}}
  </div>
</footer>
