<header class="site-header">
  <!-- Logo -->
  <div class="logo">
    <img src="shared/logo.png" alt="Logo">
  </div>

  <!-- Navigation Buttons -->
  <nav class="nav-buttons">
    <a href="" class="underline-hover">Hakkımızda</a>
    <span class="divider"></span>
    <a href="" class="underline-hover">Önceki Etkinlikler</a>
    <span class="divider"></span>
    <a href="" class="apply-button">Başvur</a>
  </nav>
</header>