<header class="site-header">
  <!-- Logo -->
  <div class="logo">
    <a href="#"><img src="shared/logo.png" alt="Logo"></a>
  </div>

  <!-- Navigation Buttons -->
  <nav class="nav-buttons">
    <a href="#about-us" class="underline-hover">Hakkımızda</a>
    <span class="divider"></span>
    <a href="https://jaminationofficial.itch.io/" target="_blank" class="underline-hover">Önceki Jam'ler</a>
    <span class="divider"></span>
    <a href="{{apply_url}}" target="_blank" class="growing-button">Başvur</a>
  </nav>
</header>