<!DOCTYPE html>
<html lang="tr">
<head>
    {{{html_head}}}
    <link rel="stylesheet" href="index/style.css">
    <title>Jamination 8 - Anasayfa</title>
</head>
<body>
    {{>header}}

    <!-- Start Date Section -->
    <section class="start-date-section">
        <h1>Jamination 8, 17 Ekim'de Başlıyor!</h1>
        <div class="countdown">XXX</div>
        <a href="{{apply_url}}" target="_blank" class="growing-button">Başvur</a>
        <p>Başvurular için son gün: X Ekim!</p>
    </section>

    <!-- Event Description Section -->
    <section class="event-section">
        <div class="event-image">
            <img src="index/jam6.jpg">
        </div>
        <div class="event-description">
            <h1>Jamination Nedir?</h1>
            <p>Jamination genellikle Türkiye'deki çeşitli üniversitelerin oyun geliştirme toplulukları tarafından düzenlenen geleneksel bir Game Jam etkinliğidir.</p>
        </div>
    </section>

    <!-- About Us Section -->
    <section class="about-us-section" id="about-us">
        <div class="about-image">
            <img src="index/jam7.jpg">
        </div>
        <div class="about-description">
            <h1>Hakkımızda</h1>
            <p>Amacımız, 48 saatlik oyun maratonları düzenleyerek oyun tutkunlarını ve geliştiricileri bir araya getirmek. Burada sadece kod yazmıyor, yaratıcılığınızı ve takım ruhunuzu ortaya koyuyorsunuz.</p>
        </div>
    </section>

    <!-- Contact Us Section -->
    <section class="contact-us-section">
        <h1>Sponsorluk ve Sorularınız İçin</h1>
        <a href="mailto:ituotg@gmail.com" class="growing-button">Bizimle İletişime Geç</a>
    </section>

    <!-- Previous Events Section -->
    <section class="previous-events-section">
        <div class="prev-event-image">
            <img src="index/jam5.jpg">
        </div>
        <div class="prev-event-image">
            <img src="index/jam6.jpg">
        </div>
        <div class="prev-event-image">
            <img src="index/jam7.jpg">
        </div>
        <a href="https://jaminationofficial.itch.io/" target="_blank" class="growing-button prev-event-button">Önceki Jam'ler</a>
    </section>

    {{>footer}}

    <script src="index/script.js"></script>
</body>
</html>