<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Jamination 8</title>
    <link rel="stylesheet" href="shared/style.css">
    <link rel="stylesheet" href="index/style.css">
</head>
<body>
    {{>header}}

    <!-- Start Date Section -->
    <section class="start-date-section">
        <h1>start_date_title</h1>
        <div class="countdown">countdown_text</div>
        <a href="" class="apply-button">Başvur</a>
    </section>

    <!-- Event Description Section -->
    <section class="event-section">
        <div class="event-image">
            <img src="shared/logo.png">
        </div>
        <div class="event-description">
            <h1>Jamination Nedir?</h1>
            <p>Jamination genellikle Türkiye'deki çeşitli üniversitelerin oyun geliştirme toplulukları tarafından düzenlenen geleneksel bir Game Jam etkinliğidir.</p>
        </div>
    </section>

    <!-- About Us Section -->
    <section class="about-us-section">
        <div class="about-image">
            <img src="shared/logo.png">
        </div>
        <div class="about-description">
            <h1>Hakkımızda</h1>
            <p>Amacımız, 48 saatlik oyun maratonları düzenleyerek oyun tutkunlarını ve geliştiricileri bir araya getirmek. Burada sadece kod yazmıyor, yaratıcılığınızı ve takım ruhunuzu ortaya koyuyorsunuz.</p>
        </div>
    </section>

    <!-- Contact Us Section -->
    <section class="contact-us-section">
        <a href="mailto:ituotg@gmail.com" class="contact-button">Bizimle İletişime Geç</a>
    </section>

    <!-- Previous Events Section -->
    <section class="previous-events-section">
        <div class="prev-event-image left">
            <img src="shared/logo.png">
        </div>
        <a href="ituotg.itch.io" class="prev-events-button">Önceki Etkinlikler</a>
        <div class="prev-event-image right">
            <img src="shared/logo.png">
        </div>
    </section>
    <script src="index/script.js"></script>
</body>
</html>