<!DOCTYPE html>
<html lang="tr">
<head>
    {{{base_url}}}
    {{{html_head}}}
    <link rel="stylesheet" href="/sponsors/style.css">
    <title>Jamination 8 - Sponsorlar</title>
</head>
<body>
    {{>header}}

    <section class="sponsors-section">
    <h1>Sponsorlar</h1>
    {{#sponsors}}
        <div class="sponsor-group">
            <h2>{{group_title}}</h2>
            <div class="sponsor-items">
            {{#group_items}}
                <a href="{{url}}" target="_blank" rel="noopener" title="{{name}}">
                    <img src="{{icon}}" alt="{{name}}">
                </a>
            {{/group_items}}
            </div>
        </div>
    {{/sponsors}}
    </section>

    <section class="organizers-section">
    <h1>Organizatörler</h1>
    {{#organizers}}
        <a href="{{url}}" target="_blank" rel="noopener" title="{{name}}">
        <div class="organizer-item">
            <img src="{{icon}}" alt="{{name}}">
            <h3>{{name}}</h3>
        </div>
        </a>
    {{/organizers}}
    </section>

    {{>footer}}
</body>
</html>